<mat-card>
  <mat-card-content>
    <ng-container *ngIf="infoPicos && picos.length > 0; else spinner">
      <div>
        <h1><strong>Desenvolvedor FullStack Rodrigo Pablo</strong></h1>
        <h1>Bem-vindo ao desafio TMEP: desafio Tempo Médio Entre Picos!</h1>
        <p><strong>Soma dos picos: </strong>{{ somaDosPicos }}</p>
        <p><strong>Média dos picos: </strong>{{ mediaDosPicos }}</p>
        <p><strong>Fórmula:</strong>{{ mediaDosPicos }}</p>
        <p><strong>TMEP = ( (diferença de tempo entre pico1 e pico2) + (diferença de tempo entre o pico2 e pico3) + (diferença de tempo entre pico3 e pico4) )/quantidade de picos - 1 </strong></p>
        <p><strong>Diferença de tempo entre Pico 1 e Pico 2:</strong> {{ difTempPico1Pico2 }} segundos</p>
        <p><strong>Diferença de tempo entre Pico 2 e Pico 3:</strong> {{ difTempPico2Pico3 }} segundos</p>
        <p><strong>Diferença de tempo entre Pico 3 e Pico 4:</strong> {{ difTempPico3Pico4 }} segundos</p>
        <p><strong>Tempo médio entre os picos:</strong> {{ tempoMedioEntrePicos }} segundos</p>
      </div>
    </ng-container>

    <ng-template #spinner>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

    <div class="chart-container">
      <div class="chart" style="width: 100%; height: 600px;">
        <mat-card>
          <mat-card-content>
            <canvasjs-chart [options]="chartOptions" [styles]="{ height:'100%', width: '100%'}"></canvasjs-chart>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
